.Userprofile {
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

img.littleguys {
  width: 40%;
  height: 40%;
}



.Profile {
  display: flex;
  position: right;
}

.listGroup {
  position: right;
}

*/ * {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

img {
  width: 10%;
  height: 10%;
}

.dropdown {
  position: relative;
}

.menu {
  position: absolute;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  border: 1px solid rgb(193, 85, 178);
  width: 150px;
}

.menu>li {
  margin: 0;
  background-color: white;
}

.links {
  text-decoration: none;
}