@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Inter:wght@600&family=Montserrat&family=Press+Start+2P&family=Roboto:wght@500&display=swap');

* {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;

}

body {
  /* background-image: linear-gradient(#91A2BA, #E0C1D7); */
  /* background-size: cover;
  background-position: center; */
}

/* aboveBar styling */
.abovecontainer {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 100%;
  min-height: 10vh;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.aboveBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboveBar ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboveBar ul li {
  list-style: none;

}

.abovebar-content {
  display: inline-block;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
  color: #5BA2B6;
}

.abovebar-content:hover {
  color: #8fbcf3;
}

.logotext {
  font-size: 3em;
  color: #789ecc;
  text-decoration: none;
}

.logotext:hover {
  color: #8fbcf3;
}

.abovebar-content a {
  text-decoration: none;
  color: #5BA2B6;
}


.abovebar-content a:hover {
  text-decoration: none;
  background-image: linear-gradient(to right, #7CD3FF, #FCD1B1);
  color: white;
}


/* homepage text styling */
.homepage {
  min-height: 70vh;
  margin-bottom: 5em;
  position: relative;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .herotext {
  position: relative;
  max-width: 600px;
}

.header h1 {
  color: #789ecc;
  font-size: 4em;
  font-weight: 500;
}

.header span {
  font-size: 2em;
  font-weight: 900;
  background-image: linear-gradient(to right, #7CD3FF, #FCD1B1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.subheader {
  line-height: 1.4em;
}

/* homebutton styling */
.homebutton {
  align-items: center;
  margin-top: 20px;
  background-color: #789ecc;
  ;
  border: 0;
  /* border-radius: 20px; */
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.homebutton:hover,
.homebutton:focus {
  background-image: linear-gradient(to right, #7CD3FF, #FCD1B1);
  color: #ffffff;
}

.homebutton:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.gradient:hover {
  background-image: linear-gradient(to right, #7CD3FF, #FCD1B1);
}

/* homepage image styling */
.homepage {
  min-height: 70vh;
  margin-top: 5em;
  margin-bottom: 5em;
  position: relative;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2em;
}

.hero-img {
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.hero-img:nth-child(even) img {
  transform: translateX(-200px);
}

.hero-img img {
  width: 50%;
  z-index: 20;
}

.squirtle-square,
.bulbasaur-square,
.charmander-square {
  position: absolute;
  bottom: 0;
  border-radius: 20px 0px 20px 0px;
  height: 60%;
  width: 50%;
  z-index: -1;
}

.squirtle-square {
  background: #c4dfe4;
  right: 50%;
  transform: translateX(50%) translateY(20px);
}

.bulbasaur-square {
  background: #C4E4D4;
  left: 0;
  transform: translateX(-50%) translateY(20px);
}

.charmander-square {
  background: #e4d7c4;
  right: 50%;
  transform: translateX(50%) translateY(20px);
}

@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
  }


  .herotext {
    margin-top: 2em;
    text-align: center;
  }

  .header h1 {
    font-size: 2em;
  }

  .hero-img {
    flex-direction: column;
    align-items: center;
  }

  .hero-img:nth-child(even) img {
    transform: none;
  }

  .squirtle-square,
  .bulbasaur-square,
  .charmander-square {
    position: static;
    transform: none;
    margin-top: 20px;
  }
}

/* featured items */
.featured-items {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px
}

.featured-header h1 {
  font-size: 4em;
  font-weight: 500;
  color: #789ecc;
  padding: 20px
}

.featured-list ul {
  position: relative;
}

.featured-list ul li {
  list-style: none;
}

.new-product {
  margin-left: 70px;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  color: white;
}

.new {
  display: flex;
  flex-direction: row;
}

.new img {
  max-width: 100px;
  max-height: 100px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.new img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

/* single page styling */

.deck {
  text-decoration: none;
  display: inline;
  flex-wrap: wrap;
}

.Userprofile {
  display: flex;
}

.quickAddButton {
  align-items: center;
}

img.littleguys {
  width: 40%;
  height: 40%;
}

.Profile {
  display: flex;
  position: right;
}

.listGroup {
  position: right;
}

.pokemonImg {
  width: 10%;
  height: 10%;
}

.dropdown {
  position: relative;
}

.menu {
  position: absolute;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  border: 1px solid rgb(193, 85, 178);
  width: 150px;
}

.menu>li {
  margin: 0;
  background-color: white;
}

.links {
  text-decoration: none;
}

.buttonColor {
  background-color: darkgoldenrod;
}

.offcanvas-body {
  color: black;
}